@model IEnumerable<Prj_Soap.Models.ViewModels.SoapInCartListViewModel>

<div class="wrap cf">
    @{ int sum = 0; }
    <div class="heading cf">
        <h1>結帳確認</h1>
        <a href="/Cart" class="continue">返回</a>
    </div>
    <div class="cart">
        <!--    <ul class="tableHead">
          <li class="prodHeader">Product</li>
          <li>Quantity</li>
          <li>Total</li>
           <li>Remove</li>
        </ul>-->
        @using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post, new { @id = "checkout-form"}))
        {
            <ul class="cartWrap">
                
                @if (Model.Count() != 0)
                {
                    int count = 0;

                    foreach (var item in Model)
                    {
                        @Html.Hidden("Id", item.Id)
                        sum += item.TotoalPrice;
                        string color = "", stockStatus;
                        if (@item.StockCount==0)
                        {
                            color = "red";
                            stockStatus = "無庫存";
                        }
                        else
                        {
                            stockStatus = "庫存量 = " + item.StockCount;
                        }

                        string className = "";
                        if (count % 2 != 0)
                        {
                            className = "items odd";
                        }
                        else
                        {
                            className = "items even";
                        }
                        count++;
                        <li class="@className">
                            <div class="infoWrap">
                                <div class="cartSection">
                                    <img src="@item.ImageUrl" alt="" class="itemImg" />
                                    <p class="itemNumber">@item.P_Id</p>
                                    <h3>@item.ItemName</h3>
                                    <p> <div style="font-weight:700;">數量：@item.AddCount</div> x NT @item.Price</p>
                                    <p class="stockStatus" style="color:@color"> @stockStatus</p>
                                </div>

                                <div class="prodTotal cartSection">
                                    <p>NT @item.TotoalPrice</p>
                                </div>

                            </div>
                        </li>
                    }
                }
                <!--<li class="items even">Item 2</li>-->
            </ul>
        }

    </div>
    @*<div class="promoCode">
            <label for="promo">Have A Promo Code?</label><input type="text" name="promo" placholder="Enter Code" />
            <a href="#" class="btn"></a>
        </div>*@
    <div class="subtotal cf">
        <ul style="list-style-type:none;">
            @*<li class="totalRow"><span class="label">Subtotal</span><span class="value">$35.00</span></li>*@
            <!--  <li class="totalRow"><span class="label">Shipping</span><span class="value">$5.00</span></li>

              <li class="totalRow"><span class="label">Tax</span><span class="value">$4.00</span></li>-->
            <li class="totalRow final"><span class="label">總金額</span><span id="sum" class="value">NT @sum</span></li>
            <li class="totalRow"><a id="checkout-link" href="#" class="btn continue">送出</a></li>
        </ul>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $("#checkout-link").on("click", function () {
                $("#checkout-form").submit();
            });
        });
    </script>
   
    }
