@model IEnumerable<Prj_Soap.Models.ViewModels.SoapInCartListViewModel>


<div class="wrap cf">
    <div class="heading cf">
        <h1>購物車</h1>
        <a href="/Product" class="continue">繼續購物</a>
    </div>
    <div class="cart">
        <!--    <ul class="tableHead">
              <li class="prodHeader">Product</li>
              <li>Quantity</li>
              <li>Total</li>
               <li>Remove</li>
            </ul>-->
        <ul class="cartWrap">
            @{ int sum = 0;}
            @if (Model.Count() != 0)
            {
                int count = 0;

                foreach (var item in Model)
                {
                    sum += item.TotoalPrice;
                    bool isInStock = item.IsInStock == true;
                    string color = "", stockStatus;
                    if (isInStock)
                    {
                        stockStatus = "有庫存";
                    }
                    else
                    {
                        stockStatus = "無庫存";
                        color = "red";
                    }
                    string className = "";
                    if (count % 2 != 0)
                    {
                        className = "items odd";
                    }
                    else
                    {
                        className = "items even";
                    }
                    count++;
                    <li class="@className">

                        <div class="infoWrap">
                            <div class="cartSection">
                                <img src="@item.ImageUrl" alt="" class="itemImg" />
                                <p class="itemNumber">@item.P_Id</p>
                                <h3>@item.ItemName</h3>

                                <p> <input  type="number" class="qty" data-row-id="@item.Id" data-item-price="@item.Price" placeholder="" style="width:100%" value="@item.AddCount"/> x @item.Price</p>

                                <p class="stockStatus" style="color:@color"> @stockStatus</p>
                            </div>


                            <div class="prodTotal cartSection">
                                <p>NT @item.TotoalPrice</p>
                            </div>
                            <div class="cartSection removeWrap">
                                <a href="#" data-row-id="@item.Id" class="remove">x</a>
                            </div>
                        </div>
                    </li>
                }
            }

            <!--<li class="items even">Item 2</li>-->

        </ul>
    </div>

    @*<div class="promoCode">
        <label for="promo">Have A Promo Code?</label><input type="text" name="promo" placholder="Enter Code" />
        <a href="#" class="btn"></a>
    </div>*@

    <div class="subtotal cf">
        <ul>
            @*<li class="totalRow"><span class="label">Subtotal</span><span class="value">$35.00</span></li>*@

          <!--  <li class="totalRow"><span class="label">Shipping</span><span class="value">$5.00</span></li>

            <li class="totalRow"><span class="label">Tax</span><span class="value">$4.00</span></li>-->
            <li class="totalRow final"><span class="label">總金額</span><span id="sum" class="value">NT @sum</span></li>
            <li class="totalRow"><a href="#" class="btn continue">結帳去</a></li>
        </ul>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $(".qty").on("change", function () {
                getProcessDialog();
                var id = $(this).data("row-id");
                var itemCount = $(this).val();
                var price = $(this).data("item-price");
                
                $.ajax({
                    url: "/api/Cart/UpdateCount",
                    method: "POST",
                    data: {
                        Id: id,
                        AddCount: itemCount
                    }
                })
                    .done(function () {
                        disableProcessDialog();
                    })
                    .fail(function () {
                        alert("發生錯誤，請稍後重試");
                        disableProcessDialog();
                    });
                $("#sum").html("NT " + itemCount * price);
                return false;
            });

            $(".remove").on("click", function () {
                getProcessDialog();
                var id = $(this).data("row-id");
                $.ajax({
                    method: "POST",
                    url: "/api/Cart/Delete/",
                    contentType: "application/json",
                    data: id.toString()
                })
                    .done(function () {
                        disableProcessDialog();
                        window.location.reload();
                    })
                    .fail(function () {
                        alert("發生錯誤，請稍後重試");
                        disableProcessDialog();
                    });
                return false;
            });
        
        });

        function getProcessDialog() {
            $body = $("body");
            $("html").css("overflow", "hidden");
            $body.addClass("loading");
        }

        function disableProcessDialog() {
            $body = $("body");
            $("html").css("overflow", "");
            $body.removeClass("loading");
        }
    </script>
    }